{% extends 'layouts/main.html' %}
{% block title %}Random News{% endblock %}
{% block content %}

<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="newsContainer">
          <blockquote class="quote-box">
              <p class="news-mark">
                  " News from around
              </p>
              <p class="quote-text" id="txtNews">
                  Today Pakistan won the match and we loved it
              </p>
              <p><a href="#" id="newsLink" target="_blank">More on this at</a></p>
              <hr>
              <div class="blog-post-actions">
                  <p class="blog-post-bottom pull-left">
                      <span class="btn fa fa-refresh" id="btnNewsReload"></span>
                      <span id="txtPoweredBy">Powered by J33mk</span>
                  </p>
                  <p class="blog-post-bottom pull-right">
                      <span class="btn badge quote-badge" id="btnDev">with ❤ from developer</span>
                  </p>
              </div>
          </blockquote>
      </div>
      
      
{% endblock %}